
* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


.col-6 {
    font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
}