* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.img-horizontal{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class*="vh-50"] {
  height: 50vh;
}