* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: auto !important;
}

.img-horizontal{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class*="vh-50"] {
  height: 50vh;
}


[class*="display-1"] {
  font-weight: 400;
}

[class*="hf"] {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

[class*="gf"] {
  font-family: "Instrument Serif", serif;
  font-weight: 500;
  font-style: normal;
}
